@page
@model IndexModel

@{
    ViewData["Title"] = "Package Tracker";
    

}
<head>
    <link rel="stylesheet" href="~/css/styles.css">
</head>
<div class="text-center">
    <h1 class="display-4" style="padding-bottom:30px;">Welcome to Project tracker</h1>

</div>

<div id="container">

    <button type="button" class="btn btn-primary btn-lg" id="createorder-btn">Create New Order</button>

    <button type="button" class="btn btn-primary btn-lg" id="createcustomer-btn">Create New Customer</button>

    <button type="button" class="btn btn-primary btn-lg" id="orders-btn">Orders</button>

    <button type="button" class="btn btn-primary btn-lg" id="customerinfo-btn">Customer Info</button>

    <div id="orders" style="display:none">

        <table class="table">
            <thead>
                <tr>
                    <th>
                        Customer ID
                    </th>
                    <th>
                        Shipping ID
                    </th>
                    <th>
                        Package Status
                    </th>
                    <th>
                        Price
                    </th>
                    <th>
                        Source
                    </th>
                    <th>
                        Destination
                    </th>
                    <th>
                        Last Update
                    </th>
                    <th>
                        Weight
                    </th>

                </tr>
            </thead>

            <tbody id="shippinglistbody">
            </tbody>
        </table>
        <button type="button" class="btn btn-outline-secondary" id="backindexorder" onclick="window.location='/';">Go Back</button>
    </div>

    <div id="customerinfo" style="display:none">
        @*<p>clicked the Customer info button</p>*@
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Customer ID
                    </th>
                    <th>
                        First Name
                    </th>
                    <th>
                        Last Name
                    </th>
                    <th>
                        Date of Birth
                    </th>
                    <th>
                        Customer Address
                    </th>
                    <th>
                        Phone No
                    </th>
                    <th>
                        Prime Member
                    </th>

                </tr>
            </thead>

            <tbody id="custlistbody">
            </tbody>
        </table>
        <button type="button" class="btn btn-outline-secondary" id="backindexcust" onclick="window.location='/';">Go Back</button>
    </div>

    <div id="neworder" style="display:none">

        <form method="post">

            <div class="form-group">
                <label class="control-label">Customer ID</label>
                <input class="form-control" id="customerid" type="number" />

            </div>
            <div class="form-group">
                <label class="control-label">Package Status</label>
                <input class="form-control" id="packagestatus" />

            </div>
            
            <div class="form-group">
                <label class="control-label">weight</label>
                <input class="form-control" id="weight" type="number">

            </div>
            <div class="form-group">
                <label class="control-label">Source Address</label>
                <input class="form-control" id="sourceaddress" />

            </div>
            <div class="form-group">
                <label class="control-label">Destination Address</label>
                <input class="form-control" id="destinationaddress" />

            </div>
            <div class="form-group">
                <label class="control-label">price</label>
                <input class="form-control" id="price" type="number"/>

            </div>
            
            <div class="form-group">
                <input type="submit" id="submitcreateorder" value="Create" class="btn btn-primary" />
            </div>
        </form>

        <button type="button" class="btn btn-outline-secondary" id="backindexorder" onclick="window.location='/';">Go Back</button>
    </div>


    <div id="newcustomer" style="display:none">

        <form method="post">
            
            <div class="form-group">
                <label class="control-label">First Name</label>
                <input class="form-control" id="firstname" />

            </div>
            <div class="form-group">
                <label class="control-label">Last Name</label>
                <input class="form-control" id="lastname" />

            </div>
            <div class="form-group">
                <label class="control-label">Date Of Birth</label>
                <input class="form-control" type="date" id="dob" />

            </div>
            <div class="form-group">
                <label class="control-label">Address</label>
                <textarea class="form-control" id="address" rows="4"></textarea>

            </div>
            <div class="form-group">
                <label class="control-label">Phone No</label>
                <input type="number" class="form-control" id="phoneno" type="number" minlength="9" maxlength="11" />

            </div>
            <div class="form-group">
                <label class="control-label">Prime Customer</label>
                <input class="form-control" id="primecustomer" type="checkbox" />

            </div>
            <div class="form-group">
                <input type="submit" id="submitcreateuser" value="Create" class="btn btn-primary" />
            </div>
        </form>

        <button type="button" class="btn btn-outline-secondary" id="backindexorder" onclick="window.location='/';">Go Back</button>

    </div>

</div>




    @section Scripts {
        <script>


        $(function () {


        });

            $("#orders-btn").click(function () {
                console.log('orders button clicked')
                $("#orders").toggle();
                $("#customerinfo-btn").toggle();
                $("#orders-btn").toggle();
                $("#createorder-btn").toggle();
                $("#createcustomer-btn").toggle();

                @* loadShippingData();*@
                loadShippingData();

            });


            $("#createorder-btn").click(function () {
                $("#neworder").toggle();

                $("#customerinfo-btn").toggle();
                $("#orders-btn").toggle();
                $("#createorder-btn").toggle();
                $("#createcustomer-btn").toggle();


            });


            $("#createcustomer-btn").click(function () {

                $("#newcustomer").toggle();
                $("#customerinfo-btn").toggle();
                $("#orders-btn").toggle();
                $("#createorder-btn").toggle();
                $("#createcustomer-btn").toggle();


            });

            $("#customerinfo-btn").click(function () {
                console.log('cust info button clicked')
                $("#customerinfo").toggle();
                $("#orders-btn").toggle();
                $("#customerinfo-btn").toggle();
                $("#createorder-btn").toggle();
                $("#createcustomer-btn").toggle();
                loadCustData();

            });


            var locationLongitude = null;
            var locationLatitude = null;
            
            if (navigator.geolocation != null) { // CHECK IF location IS AVAILABLE
                console.log("has location access");
                navigator.geolocation.getCurrentPosition(function (locationInfo) {
                    console.log("location", locationInfo);
                    locationLatitude = locationInfo.coords.latitude;
                    locationLongitude = locationInfo.coords.longitude;
                    console.log('Latitide: ' + locationLatitude);
                    console.log('Longitude: ' + locationLongitude);
                });
            }

            $("#submitcreateorder").click(function (e) {
                e.preventDefault();
                console.log('in the submit button fn')
                var customerId = parseInt($("#customerid").val()) // TODO: GET DATA FROM INPUT
                var packageStatus = $("#packagestatus").val()
                var weight = parseInt($("#weight").val())
                var sourceAddress = $("#sourceaddress").val()
                var destinationAddress = $("#destinationaddress").val()
                var price = parseInt($('#price').val())
                var currentTime = new Date();
                console.log('making the ajax call for creating order')
                var request = JSON.stringify({
                    customerId: customerId,
                    packageStatus: packageStatus,
                    weight: weight,
                    sourceAddress: sourceAddress,
                    destinationAddress: destinationAddress,
                    price: price,
                    latitude: locationLatitude,
                    longitude: locationLongitude,
                    updatedTimestamp: currentTime

                })
                console.log(request)

                $.ajax({

                    url: "/api/ShippingInfoes",
                    dataType: "json",
                    contentType: "application/json",
                    data: request,
                    method: "POST"

                }).done(function () {
                    console.log("activity logged"); //TODO: HANDLE THE SUCCESS STATE

                    alert("Order Succsessfully created")
                }).fail(function () {
                    alert("something went bad")
                    console.log("there was an error creating order"); //TODO: HANDLE THE FAILURE STATE
                })
                return false;

            });



            $("#submitcreateuser").click(function () {
                console.log('in the submit button fn')
                var firstName = $("#firstname").val() // TODO: GET DATA FROM INPUT
                var lastName = $("#lastname").val()
                var address = $("#address").val()
                var dateOfBirth = $("#dob").val()
               
                var phoneNo = parseInt($("#phoneno").val())
                var primeCustomer = $('#primecustomer').prop('checked')
                console.log('making the ajax call')
                var request = JSON.stringify({
                    firstName: firstName,
                    lastName: lastName,
                    dateOfBirth: dateOfBirth,
                    custAddress: address,
                    phoneNumber: phoneNo,
                    primeCustomer: primeCustomer

                })
                console.log(request)

                $.ajax({

                    url: "/api/CustomerInfoes",
                    dataType: "json",
                    contentType: "application/json",
                    data: request,
                    method: "POST"

                }).done(function () {
                    console.log("activity logged"); //TODO: HANDLE THE SUCCESS STATE

                    alert("Activity logged")
                }).fail(function () {
                    alert("something went bad")
                    console.log("there was an error creating user"); //TODO: HANDLE THE FAILURE STATE
                })
                return false;

            });

        

            function loadShippingData() {
                console.log('making the API call')
            $.ajax({
                url: "api/ShippingInfoes",
                dataType: 'json',
                contentType: 'application/json',
                method: 'GET'
            }).done(function (responseJSON, status, xhr) {
                // process the response when status code is 200-299
                builShippingList(responseJSON);

                console.log(responseJSON);
            }).fail(function (xhr, status, error) {
                // deal with error from server (status code 400-599)
                alert("There was an error retrieving the data");
            });

        }

        function builShippingList(shippingitem) {
            $("#shippinglistbody").empty();
            $.each(shippingitem, function (index, item) {

                @*var td = $('<tr><td id="ID" item-id=' + item.itemId + '>' + item.itemId + '</td><td id=' + item.itemName + '">' + item.itemName + '</td><td id=' + item.description + '">' + item.description + '</td><td id=' + item.dateCreated + '">' + item.dateCreated + '</td><td id=' + item.quantity + '">' + item.quantity + '</td><td id=' + item.completed + '">' + item.completed + '</td></tr>')
                $(td).append(' <a href="#" class="pull-right item-delete">delete</a>')
                $(td).append(' <a href="#" class="pull-right item-complete">Mark Complete</a>')*@
                var td = $('<tr><td id="ID" item-id=' + item.customerId + '>' + item.customerId + '</td>' +
                    '<td id=' + item.id + '">' + item.id + '</td>' +
                    '<td id=' + item.packageStatus + '">' + item.packageStatus + '</td>' +
                    '<td id=' + item.price + '">' + item.price + '</td>' +
                    '<td id=' + item.sourceAddress + '">' + item.sourceAddress + '</td>' +
                    '<td id=' + item.destinationAddress + '">' + item.destinationAddress + '</td>' +
                    '<td id=' + item.updatedTimestamp + '">' + item.updatedTimestamp + '</td>' +
                    '<td id=' + item.weight + '">' + item.weight + '</td>' +
                    '</tr>')
                console.log(td)
                $("#shippinglistbody").append(td)

            });
        }


        function loadCustData() {
            console.log('making the API call')
            $.ajax({
                url: "api/CustomerInfoes",
                dataType: 'json',
                contentType: 'application/json',
                method: 'GET'
            }).done(function (responseJSON, status, xhr) {
                // process the response when status code is 200-299
                builCustList(responseJSON);
                console.log('built cust list')
                console.log(responseJSON);
            }).fail(function (xhr, status, error) {
                // deal with error from server (status code 400-599)
                alert("There was an error retrieving the data");
            });

        }

        function builCustList(custitem) {
            $("#custlistbody").empty();
            $.each(custitem, function (index, item) {

                @*var td = $('<tr><td id="ID" item-id=' + item.itemId + '>' + item.itemId + '</td><td id=' + item.itemName + '">' + item.itemName + '</td><td id=' + item.description + '">' + item.description + '</td><td id=' + item.dateCreated + '">' + item.dateCreated + '</td><td id=' + item.quantity + '">' + item.quantity + '</td><td id=' + item.completed + '">' + item.completed + '</td></tr>')
                $(td).append(' <a href="#" class="pull-right item-delete">delete</a>')
                $(td).append(' <a href="#" class="pull-right item-complete">Mark Complete</a>') *@
                var td = $('<tr><td id="ID" item-id=' + item.custId + '>' + item.custId + '</td>' +
                    '<td id=' + item.firstName + '">' + item.firstName + '</td>' +
                    '<td id=' + item.lastName + '">' + item.lastName + '</td>' +
                    '<td id=' + item.dateOfBirth + '">' + item.dateOfBirth + '</td>' +
                    '<td id=' + item.custAddress + '">' + item.custAddress + '</td>' +
                    '<td id=' + item.phoneNumber + '">' + item.phoneNumber + '</td>' +
                    '<td id=' + item.primeCustomer + '">' + item.primeCustomer + '</td>' +
                    '</tr>')
                console.log(td)
                $("#custlistbody").append(td)


            });
        }


        </script>
    }


